.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImageWrapper {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureSvg {
  height: 100%;
  width: auto;
  object-fit: contain;
}
